.outline {
    margin: auto;
    border: 3px solid;
    background-color: rgb(194, 194, 194);
    height: 96vh;
    width: 80vh;
    padding: 5px;
}

#textfield {
    margin: auto;
    width: 99%;
    height: 10%;
    text-align: right;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

#upper-div {
    height: 10%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.5rem;
    margin: 0.5rem;
}

#lower-div {
    height: 77%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    margin: 0.5rem;
}

.mini {
    height: 100%;
    width: 100%;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255, 228, 196, 0.411);
}

.mini:hover {
    background-color: rgba(255, 228, 196, 0.185);
}

.sd {
    font-size: 11px;
}

.optn {
    font-size: 14px;
}

.digit, .symbol {
    height: 100%;
    width: 100%;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

.symbol {
    background-color: bisque;
}

.symbol:hover {
    background-color: rgba(255, 228, 196, 0.688);
}

.digit {
    background-color: beige;
}

.digit:hover {
    background-color: rgba(245, 245, 220, 0.725);
}

.equal {
    grid-row: span 2;
}

.zero {
    grid-column: span 2;
}

#color-box {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    border-color: black;
    border-radius: 5px;
    border-style: dashed;
    font-size: medium;
    background-color: rgba(147, 147, 147, 0.361);
    position: absolute;
    transform: translate(75%, -200%);
    padding: 1rem;
}

.digit:hover, .symbol:hover, .mini:hover {
    cursor: pointer;
}